.card{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(199, 197, 197);
    background-image: url(cover.png);
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    transition: 2s ease-in-out;
    border-radius: 10px;

   
}
#prof{
    margin-top: 20px;
    margin-left: 80px;
    opacity: 50%;
}
h2,p{
    margin-top: 30px;
    margin-left: 20px;
    color: aliceblue;
}
div:hover{
    box-shadow: 5px 5px 20px black;
    background-image: url(abhi.jpg);
    margin-top: 80px;
    height: 500px;
    width: 500px;
    rotate: 360deg;
}


   
